div > h2{
    color: rgb(206, 213, 233); 
    font-weight: lighter; 
    text-align: center;
    font-size: 35pt;
    font-style: inherit;
    font-family: "Times New Roman", Times, serif;
}
title{
    color: rgb(67, 88, 148); 
    font-weight: bold; 
    font-family: "fantasy";
    text-align: center;
    font-size: 35pt;
}

div > form > fieldset > legend{
    color: #FFBC00; font-size: 20pt;
    font-style: oblique; 
    font-family:'Courier New', Courier, monospace;

    margin-bottom: 0px; 
    margin-left: auto;
    text-align: left;
}


label.col-sm-3.control-label{
    font-size: 18pt; 
    font-family: "Passion One"; 
    color: #e3b8e7; 
    font-weight: bold;
}

label.col-sm-12.control-label{
    color: lightcyan;
    width: 400px;
    float: left;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

body{
    background-image: url('dark_wood.png');
}

label,th{
    color: lightsteelblue;
}



